<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Submitted Information</h1>

    <h5>Name: <%= user.name %></h5>
    <h5>Dojo Location: <%= user.location %></h5>
    <h5>Favorite Language: <%= user.language %></h5>
    <h5>Comment: <%= user.comment %></h5>

    <a href="/">Back</a>
</body>
</html>